---
import BottomBar from "../components/BottomBar.astro";
import CardCurrentPosition from "../components/CardCurrentPosition.astro";
import CardHistory from "../components/CardHistory.astro";
import CardInfo from "../components/CardInfo.astro";
import CardRating from "../components/CardRating.astro";
import CardRecommend from "../components/CardRecommend.astro";
import Container from "../components/Container.astro";
import Main from "../components/Main.astro";
import Navbar from "../components/Navbar.astro";
---

<Main>
  <Container class='mb-16 h-full flex-col'>
    <div class="flex flex-col">
      <Navbar />
      <CardInfo />
      <CardCurrentPosition />
      <CardHistory length={5} />
      <CardRating />
      <CardRecommend />
    </div>
  </Container>
  <BottomBar />
</Main>

